{{"\t"}}{{.ClusterName}} = {
{{"\t"}}    region                    = "{{.Region}}"
{{"\t"}}    zones                     = ["{{.Zones}}"]
{{"\t"}}    subnet_name               = "{{.SubnetName}}"
{{"\t"}}	linux_machine_type        = "{{.MachineType}}"  
{{"\t"}}	windows_machine_type      = "{{.MachineType}}"
{{"\t"}}	cluster_dns_provider      = "{{.ClusterDnsProvider}}"
{{"\t"}}	cluster_dns_scope         = "{{.ClusterDnsScope}}"
{{"\t"}}	cluster_dns_domain        = "{{.ClusterDnsDomain}}"
{{"\t"}}}
